.download-app {
  background-color: rgb(@dark-blue);
  background-image: url("../img/page-main-background.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
}

.download-app__header {
  height: 397px;
}

.download-app__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.download-app__header-name {
  font-family: @font;
  color: @white;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.download-app__button {
  color: @white;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  text-decoration: none;
}

.download-app__header-name {
  margin: 0;
}

.download-app__text {
  color: @white;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

@media (min-width: @tablet-width) {
  .download-app__header-name {
    padding-top: 300px;
  }
  .download-app {
    background-image: url("../img/background-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
  }
  .download-app__wrapper {
    width: 620px;
    padding: 0 20px;
  }
}

@media (min-width: @desktop-width) {
  .download-app {
    background-image: url("../img/background-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
  }
  .download-app__wrapper {
    width: 940px;
    padding: 0 130px;
  }
}
