.download-app {
  background-color: rgb(@dark-blue);
}

.download-app__header {
  height: 397px;
  background-image: url("../img/page-main-background.jpg");
  background-repeat: no-repeat;
  background-position: left 0;
}

.download-app__header-name {
  font-family: @font;
  color: @white;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.download-app__button {
  color: @white;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  text-decoration: none;
}

.download-app__text {
  color: @white;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}
