.features {
  color: @black;
  padding-top: 45px;
  background-image: url("../img/features-bg-mobile.png");
  background-size: 100%;
  margin-top: -84px;
}

.features__wrapper {
  background-image: url("../img/iphone.png");
  background-repeat: no-repeat;
  background-position: 50% 109%;
  min-height: 783px;
  padding: 0 20px;
}

.features__pictures {
  display: none;
}

.features__list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-top: 61px;
}

.features__item {
  margin-bottom: 31px;
}

.features__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-top: 20px;
}

.features__description {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  margin-top: -6px;
}

@media (min-width: @tablet-width) {
  .features {
    background-image: url("../img/features-bg-tablet.png");
    background-position: center 44px;
    background-repeat: no-repeat;
    margin-top: -109px;
  }
  .features__wrapper {
    width: 620px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-position: 5% 27px;
    min-height: 506px;
    background-image: url("../img/iphone-tablet.png");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-tablet@2x.png");
      background-size: 268px auto;
    }
  }
  .features__list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 310px;
    text-align: left;
    margin-bottom: 10px;
    padding-top: 24px;
  }
  .features__item {
    margin-bottom: 18px;
  }
  .features__title {
    margin: 0;
    padding-bottom: 19px;
  }
}

@media (min-width: @desktop-width) {
  .features {
    background-image: url("../img/features-bg-tablet.png");
    background-position: center 44px;
    background-repeat: no-repeat;
    margin-top: -104px;
  }
  .features__pictures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 135px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    margin-top: 45px;
  }
  .features__pictures-item {
    height: 300px;
    overflow: hidden;
  }
  .features__item {
    width: 240px;
    position: relative;
  }
  .features__item::after {
    content: "";
    width: 285px;
    height: 25px;
    background-image: url("../img/iphone-shadow.png");
    top: -70px;
    left: -30px;
    position: absolute;
  }
  .features__title {
    font-size: 30px;
    line-height: 30px;
  }
  .features__description {
    font-size: 18px;
    line-height: 30px;
    margin-top: 2px;
  }
  .features__wrapper {
    background-image: none;
    width: 940px;
    padding: 0 130px;
  }
  .features__list-container {
    display: flex;
    flex-direction: row;
    width: 940px;
    top: 200px;
    left: -140px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    justify-content: space-around;
    margin-top: 57px;
  }
  .features__title--left {
    margin-left: -12px;
  }
  .features__title--right {
    margin-left: 12px;
  }
  .features__description--left {
    margin-left: -12px;
  }
  .features__description--right {
    margin-right: -9px;
  }
}
