.features {
  color: @black;
  padding-top: 45px;
  background-image: url("../img/features-bg-mobile.png");
}

.features__wrapper {
  background-image: url("../img/iphone.png");
  background-repeat: no-repeat;
  background-position: 50% 109%;
  min-height: 783px;
  padding: 0 20px;
}

.features__list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-top: 60px;
}

.features__item {
  margin-bottom: 25px;
}

.features__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.features__description {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
}

@media (min-width: @tablet-width) {
  .features {
    background-image: url("../img/features-bg-tablet.png");
    background-position: center 44px;
    background-repeat: no-repeat;
  }
  .features__wrapper {
    width: 620px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    background-position: 5% 27px;
    min-height: 506px;
    background-image: url("../img/iphone-tablet.png");
    background-repeat: no-repeat;
  }
  .features__list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 310px;
    text-align: left;
    margin-bottom: 10px;
    padding-top: 24px;
  }
  .features__item {
    margin-bottom: 18px;
  }
  .features__title {
    margin: 0;
    padding-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .features {
    background-image: url("../img/features-bg-tablet.png");
    background-position: center 44px;
    background-repeat: no-repeat;
  }
  .features__title {
    font-size: 30px;
    line-height: 30px;
  }
  .features__description {
    font-size: 18px;
    line-height: 30px;
  }
  .features__wrapper {
    background-image: none;
    width: 940px;
    padding: 0 130px;
  }
  .features__list-container {
    display: flex;
    flex-direction: row;
    width: 940px;
    top: 200px;
    left: -140px;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  // .features__list {
  //   display: flex;
  // }
  .features__item--mood {
    background-image: url("../img/mood.png");
    background-repeat: no-repeat;
    background-position: 1px 1px;
  }
  .features__item--peace {
    background-image: url("../img/peace.png");
    background-repeat: no-repeat;
  }
  .features__item--friends {
    background-image: url("../img/friends.png");
    background-repeat: no-repeat;
  }
}
