.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 240px;
}

.footer__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
  width: 175px;
}

.footer__social--twitter {
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer__social--facebook {
  background-image: url("../img/facebook.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer__social--youtube {
  background-image: url("../img/youtube.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer__social-icon {
  text-decoration: none;
  display: block;
  border: 3px solid rgba(@font-grey, 0.1);
  border-radius: 50%;
  width: 48px;
  height: 48px;

  &:hover {
      border: 3px solid rgba(@font-grey, 1);
  }

  &:active {
    opacity: 0.1;
  }
}

.footer__copyright {
  margin-top: 45px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 15px;
}

.footer__copyright--info {
  font-size: 14px;
  line-height: 18px;
  color: @font-dark;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .footer {
    width: 620px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .footer {
    width: 940px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }
}
