.form__header {
  font-size: @font-size;
  line-height: 30px;
  font-style: normal;
  font-weight: normal;
  color: @font-dark;
  text-align: center;
}

.form__form {
  display: flex;
  flex-direction: column;
}

.form__label {
  font-size: 14px;
  line-height: 30px;
  color: @font-pink;
  font-style: normal;
  text-transform: uppercase;
}

.form__input::placeholder {
  color: @font-dark;
  font-size: 18px;
  line-height: 30px;
}

.form__fieldset--achievements {
  background-color: @grey;
}

.form__block-name {
  color: @font-pink;
  font-size: @font-size;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
}

.form__input-check {
  color: @font-dark;
  font-size: 18px;
  line-height: 30px;
}

.form__label--radio {
  color: @font-dark;
  font-size: 18px;
  line-height: 30px;
}

.form__textarea {
  resize: none;
}

.form__textarea::placeholder {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
}

.form__button {
  background-color: @green-button;
  color: @white;
  font-size: 18px;
  line-height: 30px;
}

.form__notice {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.form__footnote {
  color: @font-pink;
}

@media (min-width: @tablet-width) {
  .form__header {
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
  }
  .form__fieldset--name {
    order: -4;
  }
  .form__fieldset--application {
    order: -3;
  }
  .form__fieldset--achievements {
    order: -2;
  }
  .form__fieldset--address {
    order: -1;
  }
  .form__fieldset--review {
    order: 0;
  }
  .form__textarea {
    width: 495px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .form__fieldset--name {
    width: calc(45%);
  }
  .form__fieldset--application {
    width: calc(45%);
  }
  .form__fieldset--achievements {
    width: 100%;
  }
  .form__fieldset--address {
    width: 100%;
  }
  .form__fieldset--review {
    width: 100%;
  }
  .form__form {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 130px;
    justify-content: space-between;
  }
  .form__textarea {
    width: 815px;
    margin: 0 auto;
  }
}
